<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdministratorMapper">
    <!--查询学生信息-->
    <select id="Import" resultType="com.beans.Administrator">
        select * from administrator
        <where>
            <if test="adminName!=null and adminName!=''">
                and adminName=#{adminName}
            </if>
            <if test="rank!=null and rank!=''">
                and rank=#{rank}
            </if>
        </where>
        LIMIT #{num},#{count}
    </select>
    <!--对应学生总数-->
    <select id="Mount" resultType="int">
        select count(*) from administrator
        <where>
            <if test="adminName!=null and adminName!=''">
                and adminName=#{adminName}
            </if>
            <if test="rank!=null and rank!=''">
                and rank=#{rank}
            </if>
        </where>
    </select>
    <!--查询最后一个学生，获取id值-->
    <select id="lastAdmin" resultType="int">
        select id from administrator order by id DESC limit 1;
    </select>
    <!--添加学生-->
    <insert id="addAdmin">
        INSERT into administrator (id,adminName,password,name,adminPhone,rank,adminTime) VALUES(#{id},#{adminName},#{password},#{name},#{adminPhone},#{rank},#{adminTime});
    </insert>
    <!--删除学生-->
    <delete id="deleteAdmin">
        delete from administrator where id=#{id}
    </delete>
    <!--修改学生-->
    <update id="modAdmin">
        update administrator set id=#{id},adminName=#{adminName},name=#{name},adminPhone=#{adminPhone},rank=#{rank},adminTime=#{adminTime} where id=#{id};
    </update>

    <!--查询管理员登录-->
    <select id="searchUser" resultType="com.beans.User">
        select adminName,password,name from administrator where adminName=#{adminName};
    </select>
</mapper>